.App {
  text-align: center;
}

.error-state {
  border-color: indianred !important;
}

.tooltip-inner {
  background-color: indianred !important;
}

.tooltip-arrow::before {
  border-top-color: indianred !important;
}